<template name="productos">

		<table>
      <thead>

         <tr>
				    <th>  Objeto   </th>
				   <th> Detalle </th>
				    <th> Cantidad </th>
			   </tr>

      </thead>
	         <tbody>
			       {{#each productos3}}
				        <tr>
              <td> <input id={{_id}} type="text" name="nombre" value={{name}}>   </td>
              <td> <input id={{_id}}detalle type="text" name="detalle" value={{detalle}}> </td>
		              <td>

                        <button id="1">+</button>
                        <button id="2">-</button>
                        <button id={{_id}} class="button" >Modificar</button>

                           <p> {{cantidad}}</p>
                  </td>
                   <td >	{{>producto_links}} </td>
          </tr>

              {{/each}}

             </tbody>

      </table>
</template>
