
<template name="productos">

	
		{{> EasySearch.Input index=productos}}
		<table><thead>
			<tr>
				<th> Objeto </th>
				<th> Detalle </th>
				<th> Cantidad </th>
			</tr>

			</thead>
		<ul class="collection with-header" >	
			{{#EasySearch.Each index=productos}}
			
	<li class="collection-item" >

				<div>
			<tbody>
			<tr>
				<td>{{name}}</td> 

				
			<td>{{detalle}} </td>
					

			<td>{{cantidad}} </td>
				
					
</tr></tbody>
 {{>producto_links}}
				</div>

				
			</li>
		

			{{/EasySearch.Each}}

			{{#EasySearch.IfNoResults index=productos}}
				<li class="collection-item">No hay ningun producto ...</li>
			{{/EasySearch.IfNoResults}}

			{{#EasySearch.IfSearching index=productos}}
				<li class="collection-item">Buscando ...</li>
			{{/EasySearch.IfSearching}}
		</ul>
		{{>EasySearch.Pagination index=productos}}</table>
	
</template>