<template name="baseLayout">
	<nav>
		<div class="nav-wrapper cyan accent-4"
>

			<a href="#" class="brand-logo right black-text text-darken-2">Nombre de Empresa</a>

			<ul id="nav-mobile" class="left black-text text-darken-2">
				{{>loginButtons}}
				{{#if currentUser}}

					<li><a href="{{ pathFor 'stock'}}"  class="black-text text-darken-2">boton inutil </a></li>
					<li><a href="{{ pathFor 'producto_form'}}" class="black-text text-darken-2">Alta stock</a></li>
					<li><a href="{{ pathFor 'productos'}}" class="black-text text-darken-2">Stock</a></li>

					

					

				{{/if}}				
			</ul>						
		</div>
	</nav>
	

	{{#momentum plugin="growl"}}
		{{#if Template.subscriptionsReady}}
			{{>yield}}
		{{/if}}
	{{/momentum}}
</template>