<template name="projects">
	<div class="row">
		<h2>Modificar stock</h2>
		<a class="btn" href="{{ pathFor 'project_form'}}">
			Añadir nuevo proyeto
		</a>
		{{> EasySearch.Input index=projects}}
		<ul class="collection with-header">	
			{{#EasySearch.Each index=projects}}		
			<li class="collection-item">
				<div>
					{{name}}
					{{>project_links}}
				</div>
			</li>			
			{{/EasySearch.Each}}

			{{#EasySearch.IfNoResults index=projects}}
				<li class="collection-item">No hay ningun producto ...</li>
			{{/EasySearch.IfNoResults}}

			{{#EasySearch.IfSearching index=projects}}
				<li class="collection-item">Buscando ...</li>
			{{/EasySearch.IfSearching}}
		</ul>
		{{>EasySearch.Pagination index=projects}}
	</div>
</template>